@font-face {
  font-family: Nunito1;
  src: url("css/Nunito_Sans/NunitoSans-Regular.ttf");
}

@font-face {
  font-family: Nunito2;
  src: url("css/Nunito_Sans/NunitoSans-Bold.ttf");
}

* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

h1 {
  color: white;
  text-align: center;
}

li {
  list-style: none;
}

.conteiner {
  text-align: center;
  background-color: #000000;
  font-family: Arial, sans-serif;
  padding-bottom: 5px;
  padding-top: 15px;
}

.navegação{
  height: 50px;
  width: 100%;
}

.search a{
  border: 1px solid #00a335;
  border-radius: 5px;
  margin: 7px;
}

.menu {
  position: relative;
  display: inline-block;
}

.botao .submenu{
  padding-left: 10px ;
}

.botao2 .submenu{
  padding-left: 48px ;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #00a335;
  padding: 0;
  list-style: none;
  font-size: 18px;
  padding-left: center;
}

.submenu a {
  display: block;
  width: 150px;
  border-radius: 5px;
  background: none;
  color: #f1f1f1;
  text-decoration: none;
}

.submenu a:hover {
  color: #f1f1f1;
  background-color: #00a335;
  text-decoration: none;
}

.menu:hover .submenu {
  width: 100%;
  display: block;
  color: #f1f1f1;
  background: #000000;
}

.titulo {
  margin-left: 200px;
  margin-right: 200px;
  border-radius: 10px;
  background-color: #00a335;
  color: #ccc;
}

#inicio ul {
  margin-top: 80px;
  margin-left: -70px;
  padding: 5px 50px 40px 260px;
  list-style: none;
  width: 100%;
  background: #000000;
  display: block;
}

#inicio ul li {
  float: left;
}

#inicio ul a {
  border-radius: 5px;
  display: block;
  margin-top: -8;
  padding: 0.4em 4em;
  line-height: center;
  text-decoration: none;
  font-weight: bolder;
  font-size: 18px;
  color: #00a335;
}

#inicio ul a:hover {
  margin-top: -10;
  color: #f1f1f1;
  background: #00a335;
}

#image-index {
  border: 1px solid #000000;
  padding-left: 100px;
  width: 100%;
  min-width: 720px;
  flex-wrap: nowrap;
}

.cftv-image {
  margin-top: 90px;
  margin-left: 5%;
  padding: 2%;
  width: 12%;
  float: left;
}

.cftv-image a:hover{
  padding: 5px;
}

#pesquisa {
  margin-top: 100px;
  width: 100%;
  height: 312px;
  border: 1px solid #000000;
}

#pesquisabox{
  margin-left: 8%;
}

#product{
  background-color: #00a335;
  border-radius: 10px;
  color: #000000;
  margin-left: 50px;
  margin-top: 10px;
  float: left;
  padding-top: 1px;
}

#product h2{
  font-size: 18px;
  color: #000000;
  text-align: center;
}

#cameras{
  background-color: #00a335;
  border-radius: 10px;
  color: #000000;
  margin-left: 50px;
  margin-top: 10px;
  float: left;
  padding-top: 1px;
  display: none;
}

#cameras h2{
  font-size: 18px;
  color: #000000;
  text-align: center;
}

#channels {
  background-color: #00a335;
  border-radius: 10px;
  color: #000000;
  margin-left: 50px;
  margin-top: 10px;
  float: left;
  padding-top: 1px;
  display: none;
}

#channels h2{
  font-size: 18px;
  color: #000000;
  text-align: center;
}

#recorder{
  background-color: #00a335;
  border-radius: 10px;
  color: #000000;
  margin-left: 50px;
  margin-top: 10px;
  float: left;
  padding-top: 1px;
  display: none;
}

#recorder h2{
  font-size: 18px;
  color: #000000;
  text-align: center;
}

.selection ul {
  text-align: left;
  padding: 1em;
  float: left;
}

#resultado h2 {
  color: #f1f1f1;
  background-color: #00a335;
  border-radius: 5px;
  width: 80%;
  margin-left: 57px;
  margin-top: 10px;
}

#resultado {
  border: 1px solid #00a335;
  border-radius: 5px;
  width: 30%;
  height: 200%;
  margin-left: 970px;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  input[type="checkbox"] {
    font-family: Nunito2;
    --active: #00a335 !important;
    --active-inner: #fff;
    --focus: 1.5px rgba(39, 94, 254, 0.3);
    --border: #bbc1e1;
    --border-hover: #00a335;
    --background: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 21px;
    width: 38px;
    border-radius: 11px;
    outline: none !important;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
  }

  input[type="checkbox"]:after {
    font-family: Nunito2;
    content: "";
    display: block;
    position: absolute;
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease),
      opacity var(--d-o, 0.2s);
    left: 2px;
    top: 2px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: var(--ab, #00a335);
    transform: translateX(var(--x, 0));
  }

  input[type="checkbox"]:checked {
    font-family: Nunito2;
    --b: var(--active);
    --bc: var(--active);
    --d-o: 0.3s;
    --d-t: 0.6s;
    --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
    --ab: var(--active-inner);
    --x: 17px;
  }

  input[type="checkbox"]:hover:not(:checked):not(:disabled) {
    font-family: Nunito2;
    --bc: var(--border-hover);
  }

  input[type="checkbox"]:focus {
    font-family: Nunito2;
    box-shadow: 0 0 0 var(--focus);
  }

  input[type="checkbox"] + label {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 25px;
    display: inline-block;
    vertical-align: top;
    color: #000000;
    cursor: pointer;
    margin-left: 10px;
  }
}

#rodape {
  margin-top: 262px;
  padding: 16.5px;
}

#rodape #bar {
  background-color: darkgrey;
  font-size: 18px;
  text-align: center;
  width: 100%;
  height: 35px;
}